.sidebar {
    position: absolute;
    bottom: 0;
    top: 0;
    background-color: #ccc;

    .user-avatar {
        padding: 15px 5px;
        vertical-align: middle;
        > img {
            max-width: 50px;
            max-height: 50px;
            border: 2px solid #777;
            border-radius: 50%;
            cursor: pointer;
            vertical-align: middle;
        }

        .user-name {
            padding: 15px;
            vertical-align: middle;
        }
    }
    
    

    .sidebar-item-group {
        margin-left: -15px;
        margin-right: -15px;
        .sidebar-item {
            padding: 10px 5px;
            border: 1px solid #ccc;
            border-radius: 0;
            cursor: pointer;
            > a {
                display: block;
                height: 100%;
                color: inherit;
                text-decoration: none;
                
                &:hover{
                    
                        border-width: 2px;
                        border-style: solid;
                        border-color: inherit;

                }
            }
        }
    }
}