@import "./basic.scss";
.todoItemPanel {
    position: relative;

    .panel-heading {
        padding: 20px 15px;
    }

    .todoTitle-ct {
        //是否已完成的checkbox
        .todoItemCheck {
            text-align: center;
            width: 40px;
            height: auto;
            position: absolute;
            top: 10px;
            bottom: 0;
            left: 14px;
            margin: auto 0;
            border: none;
            outline: none;
            -webkit-appearance: none;
            cursor: pointer;
            //checkbox的focus状态的outline
            &:focus {
                outline: none;
            }
        }
        //todo标题
        .todoItemCheck + span {
        margin-left: 33px;
        }

        .todoItemCheck::before {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#777" stroke-width="3"/></svg>');
        }

        .todoItemCheck:checked:before {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
        }
    }

    .function-group {

        position: absolute;
        right: 25px;
        bottom: 25px;

        .function-item {
            position: relative;
            display: inline-block;
            margin-left: 10px;
            cursor: pointer;
            font-size: 16px;
            
            i {
                opacity: .7;
            }

        &:hover {
            i {
                opacity: 1;
            }
        }

            .childMenu.active {
                // visibility: visible;
                opacity: 1;
            }

            .childMenu {
                // visibility: hidden;
                opacity: 0;
                position: absolute;
                top: -90px;
                left: -20px;
                width: 90px;
                border: 1px solid $primary-color;
                border-radius: 5px;
                transition: all ease-in-out .3s;

                .childMenu-item {
                    padding: 5px;
                    background-color: #fff;

                    .priority-color {
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        border: 1px solid #000;
                        border-radius: 5px;
                        margin-right: 5px;
                    }

                &:hover{
                    background-color: #ccc;
                }
                }

                .childMenu-item:nth-child(1){
                    color: $danger-font-color;
                    .priority-color {
                        background-color: $danger-color;
                    }
                }
                .childMenu-item:nth-child(2){
                    color: $warning-font-color;
                    .priority-color {
                        background-color: $warning-color;
                    }
                }
                .childMenu-item:nth-child(3){
                    color: $info-font-color;
                    .priority-color {
                        background-color: $info-color;
                    }
                }
            }
            
            .childMenu::before{
                content: '';
                position: absolute;
                left: 20px;
                bottom: -5px;
                width: 10px;
                height: 10px;
                border: 1px solid $primary-color;
                border-top-color: transparent;
                border-left-color: transparent;
                transform: rotate(45deg);
                background-color: #fff;
            }

        }
    }

    .panel-body {
        color:#777;
        font-size: 14px;
    }
}